<%- include('../partials/header') -%>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <h2><%= project.title %></h2>
      <img class="img-fluid" src="<%= project.img%>" />
      <% if(project.stitchedBy == user.id) { %>
      <form
        action="/project/deleteproject/<%= project.id %>?_method=DELETE"
        method="project"
        class="col-3"
      >
        <button class="btn btn-primary fa fa-trash" type="submit"></button>
      </form>
      <%}%>
    </div>
  </div>

  <div class="col-3 mt-5">
    <% if (project.patternName) { %>
      <h4>Pattern name:</h4>
      <span><%= project.patternName %></span>
    <% } %>
    <% if (project.patternLink) { %>
      <a href="<%= project.patternLink %>">
        <h4>Pattern Link:</h4>
        <span><%= project.patternLink %></span>
      </a>
    <% } %>
    <% if (project.startDate) { %>
      <h4>Start Date:</h4>
      <span><%= project.startDate.getFullYear() + "-" + project.startDate.getMonth() + "-" + project.startDate.getDay() %></span>
    <% } %>
    <% if (project.finishDate) { %>
      <h4>Finish Date:</h4>
      <span><%= project.finishDate.getFullYear() + "-" + project.finishDate.getMonth() + "-" + project.finishDate.getDay() %></span>
    <% } %>
    <% if (project.notes) { %>
      <h4>Notes:</h4>
      <p><%= project.notes %></p>
    <% } %>
  </div>

  <div class="col-6 mt-5">
    <a class="btn btn-primary" href="/user/profile">Return to Profile</a>
    <!-- <a class="btn btn-primary" href="/feed">Return to Feed</a> -->
  </div>
</div>

<%- include('../partials/footer') -%>
