<%- include('../partials/header') -%>
    <main class="container">
        <div class="row justify-content-center">
            <section class="col-6 mt-5">
                <% if (user.createdProfile) { %>
                    <p>Edit your profile information:</p>
                <% } else { %>
                    <p>Add your profile information:</p>
                <% } %>
                <% if (locals.messages.errors) { %>
                    <% messages.errors.forEach( el => { %>
                        <div class="alert alert-danger"><%= el.msg %></div>
                    <% }) %>    
                <% } %>
                <% if (locals.messages.info) { %>
                    <% messages.info.forEach( el => { %>
                        <div class="alert alert-info"><%= el.msg %></div>
                    <% }) %>    
                <% } %>
                <form action="/user/edit-profile?_method=PUT" enctype="multipart/form-data" method="POST" >
                    <div class="mb-3">
                        <label for="user-name" class="form-label">User name</label>
                        <input class="form-control" type="text" name="user-name" value="<%= user.userName %>" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input class="form-control" type="text" name="email" value="<%= user.email %>" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="bio" class="form-label">User Bio</label>
                        <textarea name="bio" id="bio" class="form-control" placeholder="My favourite thing to stitch is tiny animals."><%= user.bio %></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="profile-pic" class="form-label">Upload a profile picture</label>
                        <input type="file" class="form-control" name="profilePic" id="profile-pic">
                    </div>
                    

                    <button type="submit" class="btn btn-primary">Save</button>
                    <% if (user.createdProfile) { %>
                        <a href="/user/profile" class="btn btn-light" role="button">Back</a>
                    <% } else { %>
                        <a href="/user/profile" class="btn btn-light" role="button">Skip for now</a>
                    <% } %>
                  </form>
            </section>
        </div>
    </main>

<%- include('../partials/footer') -%>