<%- include('../partials/header') -%>

<div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <div>
              <% if (user.profilePic) {  %>
                <img class="avatar"  src="<%= user.profilePic %>" alt="">
              <% } %>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <% if (user.bio) {  %>
                <p><strong>Bio</strong>: <%= user.bio %></p>
              <% } %>
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>
              <a href="/user/edit-profile" class="col-3 btn btn-primary">Edit Profile</a>
              <a href="/project/create" class="col-3 btn btn-primary">Add New Project</a>


          </div>
          
      </div>
 
    </div>
  </div>
</div>

<%- include('../partials/footer') -%>